.carousel-cell:before {
    display: flex;
    content: "";
}

.carousel-cell img {
    height: 100%;
    width: 98%;
}

.carousel-cell {
    width: 450px;
    height: 350px;
}

.flickity-button::before {
    color: transparent;
}

.flickity-button {
    background: transparent;
}

.flickity-prev-next-button:hover {
    background: transparent;
}

.flickity-button::hover {
    background-color: green;
}

#RegisterForm {
    margin-top: -120px;
}